@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #717473;
}

.content {
  width: 900px;
  margin: 0 auto;
  font-size: 25px;
}

.clockField {
  height: 100px;
  width: 350px;
  margin: 0 auto;
}

.mainClock {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 50px;
}

.outputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px 0 30px;
  height: 500px;
  border: solid black 1px;
  color: gray;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  font-weight: 400;
  color: black;
  font-size: 20px;
}

.important {
  font-weight: bold;
  color: brown;
}

.outputText {
  padding: 15px 0 0 0;
}

.buttonField {
  height: 75px;
}

.add span {
  display: block;
  margin: 10px 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.add .yes {
  display: inline;
  margin-left: 6px;
}

.add input[type='text'] {
  width: 270px;
  height: 45px;
  line-height: 50px;
  font-size: 16px;
  background: rgba(196, 196, 196, 0.29);
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 0 15px;
  outline: none;
  border-radius: 4px;
}

.add input[type='text']::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.53);
}

.add input[type='text']:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.53);
}

.add input[type='text']::-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.53);
}

.add input[type='text']::placeholder {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.53);
}

.add button {
  display: block;
  margin-top: 15px;
  width: 170px;
  height: 45px;
  background: #ffd500;
  font-weight: bold;
  font-size: 18px;
  line-height: 14px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.add button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.output__interactive-list {
  overflow: auto;
}

.output__interactive-item {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 24px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 15px;
  padding-right: 100px;
}

.output__interactive-item:before {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #ffd500;
}

.output__interactive-item:hover .getNew {
  content: '';
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url("/icon/pngwing.png") center center/cover no-repeat;
  cursor: pointer;
}

.output__interactive-item:hover .delete {
  content: '';
  display: block;
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url("/icon/trash.png") center center/cover no-repeat;
  cursor: pointer;
}
