// Файл обнуляющих стилей
@import '_nullstyle';

body {
	//background-color: rgb(113, 116, 115);
	background: url('/greyfon.jpg') center (center / cover) no-repeat;
}

.content {
	width: 900px;
	margin: 0 auto;

	//border: solid black 1px;
	font-size: 25px;
}
.clockField {
	height: 100px;
	width: 350px;

	margin: 0 auto;
}
.mainClock {
	padding: 30px 0 0 0;
	text-align: center;
	font-size: 50px;
	color: #ffffff;
}
.outputField {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px 0 30px;
	height: 500px;
	border: solid black 1px;
	color: gray;
	background-color: white;
	border-radius: 20px;
	overflow: auto;
	font-weight: 400;
	color: black;
	font-size: 20px;
}

.important {
	font-weight: bold;
	color: brown;
}
.checkedYES {
	color: gray;
	text-decoration: line-through;
	font-size: 23px;
	font-style: italic;
}

.outputText {
	padding: 15px 0 0 0;
}
.buttonField {
	height: 75px;
}

.add {
	span {
		display: block;
		margin: 10px 50px;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		color: #000000;
	}
	.yes {
		display: inline;
		margin-left: 6px;
	}
	input[type='text'] {
		width: 270px;
		height: 45px;
		line-height: 50px;
		font-size: 16px;
		background: rgba(196, 196, 196, 0.29);
		border: 1px solid rgba(0, 0, 0, 0.19);
		padding: 0 15px;
		outline: none;
		border-radius: 4px;
		&::placeholder {
			font-weight: 300;
			font-size: 16px;
			color: rgba(0, 0, 0, 0.53);
		}
	}
	button {
		display: block;
		margin-top: 15px;
		width: 170px;
		height: 45px;
		background: #ffd500;
		font-weight: bold;
		font-size: 18px;
		line-height: 14px;
		color: #ffffff;
		border: none;
		outline: none;
		cursor: pointer;
		&:active {
			transform: scale(0.9);
		}
	}
}

.output__interactive-list {
	overflow: auto;
}

.output__interactive-item {
	max-width: 500px;

	display: block;
	position: relative;
	font-weight: 300;
	font-size: 24px;
	line-height: 18px;
	color: #000000;
	margin-bottom: 15px;
	padding-right: 100px;
	//text-transform: uppercase;

	//&:before {
	//	content: '';
	//	position: absolute;
	//	bottom: -5px;
	//	display: block;
	//	width: calc(100% - 100px);
	//	height: 2px;
	//	background-color: #ffd500;
	//}
	&:hover {
		.getNew {
			content: '';
			display: block;
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 17px;
			background: url('/icon/pngwing.png') center (center / cover) no-repeat;
			cursor: pointer;
		}
	}

	&:hover {
		.delete {
			content: '';
			display: block;
			position: absolute;
			right: 60px;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 17px;
			background: url('/icon/trash.png') center (center / cover) no-repeat;
			cursor: pointer;
		}
	}
}
